@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothamBold';
  src: url('../public/Gotham/GothamBold.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 68, 68, 68;
    --background-start-rgb: 250, 251, 251;
    --background-end-rgb: 250, 251, 251;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
